{% extends 'template.html' %}
{% load static %}

{% block content %}
    <div class="main">
        <p class="explain">
            Сайт для анонимизации персональных данных
        </p>

        <h3 id="p-success">
            Ваш файл готов к скачиванию
        </h3>
        <form method="GET" enctype="multipart/form-data" id="form">
            {% csrf_token %}
            <a href="{{ file_url }}" download="{{ file_url }}" class="down-load" target="/before.html" id="download"
               onclick="setTimeout(function() {
            document.getElementById('form').submit(); return false;
            }, 1000)">
                <img src="{% static 'download_img.png' %}" class="up-down-load_img" alt="">
                Скачать файл
            </a>
        </form>
    </div>
{% endblock %}