{% extends 'template.html' %}
{% load static %}

{% block content %}
    <div class="ring hide" id="loading">Обработка
        <span class="spinner"></span>
    </div>
    <div class="main" id="main">
        <p class="explain">
            Сайт для анонимизации персональных данных
        </p>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" hidden="true" id="input-file_upload" name="file_upload">
            <div>
                <label for="input-file_upload" class="up-down-load">
                    <img src="{% static 'upload_img.png' %}" class="up-down-load_img" alt="">
                    <span class="text_load_file">Загрузить файл</span>
                </label>
            </div>
            <button id="button-start_process" type="submit" hidden="true"
                    onclick="document.getElementById('loading').classList.remove('hide'); document.getElementById('main').classList.add('hide');"></button>
            <div>
                <span class="text-truncate" id="id-file_name" hidden="true">file.txt</span>
                <label for="button-start_process" id="label-start_process" hidden="true">
                    <p>Конвертировать</p>
                </label>
            </div>
        </form>
    </div>

    <script>
        let inputs = document.querySelectorAll('#input-file_upload');
        Array.prototype.forEach.call(inputs, function (input) {
                let label = input.nextElementSibling;
                input.addEventListener('change', function (e) {
                    let fileName = '';
                    let countFiles = 0;
                    if (this.files && this.files.length === 1) {
                        fileName = this.files[0].name;
                        countFiles = 1;
                    }
                    if (countFiles) {
                        document.getElementById('label-start_process').hidden = false;
                        document.getElementById('id-file_name').hidden = false;
                        document.getElementById('id-file_name').innerText = fileName;
                    }
                });
            }
        );
    </script>
{% endblock %}
