body {
    background-image: url(bg.jpg);
}

.top {
    width: 101%;
    height: 60px;
    margin-top: 20px;
    margin-left: -10px;
    margin-bottom: 20px;
    padding-left: 25px;
    background-color: #EC0E43;
    font-family: "Segoe UI Regular", sans-serif;
    font-size: 35px;
    text-align: left;
    color: #F4FAFF;
}

.main {
    width: 1050px;
    height: 500px;
    margin-left: 100px;
    margin-right: 60px;
    margin-top: 10px;
    padding: 10px;
    background-color: #F4FAFF;
    text-align: center;
    border-radius: 10px;
}

.explain {
    font-size: 20px;
    padding: 20px 20px 50px;
}

.text_load_file {
    padding-left: 30px;
    font-size: 30px;
    color: #F4FAFF;
}

.up-down-load_img {
    width: 70px;
    height: 70px;
}

.up-down-load {
    padding: 50px 80px 50px 60px;
    border-radius: 15px;
    background-color: #EC0E43;
    transition: transform .3s ease;
    margin-bottom: 20px;
}

.up-down-load:hover {
    transform: scale(1.07);
}

.down-load {
    padding: 50px 80px 50px 60px;
    border-radius: 15px;
    background-color: #EC0E43;
    margin-bottom: 20px;
    color: #F4FAFF;
    font-size: 25px;
    text-decoration: none;
    transition: transform .3s ease;
}

.down-load:hover {
    transform: scale(1.07);
}

#label-start_process {
    position: absolute;
    height: min-content;
    top: 415px;
    left: 620px;
    padding: 10px 25px 0 25px;
    margin-left: 10px;
    border-radius: 15px;
    background-color: #EC0E43;
    transition: transform .3s ease;
    font-size: 22px;
    color: #F4FAFF;
}

#label-start_process:hover {
    transform: scale(1.07);
}

#id-file_name {
    position: absolute;
    top: 415px;
    left: 390px;
    padding: 10px 15px 10px 15px;
    /*margin: 0 200px 0 10px;*/
    width: 200px;
    height: min-content;
    border: 2px solid rgb(151, 151, 151);
    border-radius: 10px;
    background-color: rgb(228, 228, 228);
    /*font-size: 20px;*/
    text-align: center;
}

#p-success {
    margin-bottom: 60px;
}

.ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 200px;
    font-family: sans-serif;
    font-size: 20px;
    color: #EC0E43;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #EC0E43;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.ring:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid #EC0E43;
    border-right: 3px solid #EC0E43;
    border-radius: 50%;
    animation: animateC 2s linear infinite;
}

.spinner {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animate 2s linear infinite;
}

.spinner:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #EC0E43;
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px #EC0E43;
}

@keyframes animateC {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}

.hide {
    display: none !important;
}